<!DOCTYPE HTML>
<!--
	Standout by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Analysis by Nana</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="static/images/gallery/thumbs/icon.jpg">
	</head>
	<body class="is-preload">

		<!-- Page wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><a href="index.html">Data Analysis <span>by Charles Nana Asiedu</span></a></span>
						<a href="#menu"><span>Menu</span></a>
					</header>

				<!-- Nav -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/portfolio">Portfolio</a></li>
							</ul>
							<a class="close"><span>Close</span></a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h1>Nana's Analytics</h1>
							<div class="content">
								<p>Welcome to my Data Analytics portfolio website. Here, I share my analysis of datasets I have worked on.</p>
								<ul class="actions special">
									<li><a href="{{ url_for('portfolio') }}" class="button large next">Portfolio</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Footer -->
					<section id="footer" class="wrapper">
						<div class="inner">
							<div class="split">
								<div class="content">
									<header>
										<h2>About</h2>
									</header>
									<p>My name is Charles Nana Asiedu. I am a Systems Administrator who is enthused about going into full time Python Development. I use python and all of its vast libraries available for data analysis. I am familiar with pandas, NumPy, Matplotlib, Plotly, Seaborn, Scikit-Learn, SciPy for data cleaning, transformation, manipulation and modelling. I have the necessary skills to extract relevant information from raw data that helps businesses make informed decisions.</p>
								</div>
								<ul class="contact-icons">
									<!--<li><a href="https://twitter.com/Knight_PS" class="icon brands alt fa-twitter"><span class="label">twitter</span></a></li>-->
									<li><a href="https://mail.google.com/mail/u/0/?ogbl#inbox?compose=new" class="icon solid alt fa-envelope"><span class="label">infocnagh@gmail.com</span></a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Copyright -->
					<section class="wrapper style2 copyright">
						<div class="inner">
							&copy; {{year}} Charles Nana Asiedu. All rights reserved.
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>