<!DOCTYPE HTML>
<!--
	Standout by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>analysisbynana</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css"/>
	</head>
	<body class="is-preload">

		<!-- Page wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<span class="logo"><a href="index.html">Analysis <span>by Charles Nana Asiedu</span></a></span>
						<a href="#menu"><span>Menu</span></a>
					</header>

				<!-- Nav -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/portfolio">Portfolio</a></li>
							</ul>
							<a class="close"><span>Close</span></a>
						</div>
					</nav>

				<!-- Main -->
					<section id="main" class="wrapper style2">
						<div class="inner">
							<header class="major special">
								<h1>Portfolio</h1>
							</header>
							<ul class="tabs">
								<li>
									<h3>Projects</h3>
									<div class="gallery">
										<a href="/analysis"><img src="static/images/gallery/thumbs/pic01.jpg" alt="" /></a>
										<p>A Google Play Store Analysis to determine what kind of app to build for Google Play Store that will have prospects of performing well.</p>
										<!--<a href="images/gallery/fulls/pic01.jpg"><img src="images/gallery/thumbs/pic01.jpg" alt="" /></a>
										<p>I dont have anything for here yet but the length should be something like what i have here rightnow just a description okay.</p>
										<a href="images/gallery/fulls/pic01.jpg"><img src="images/gallery/thumbs/pic01.jpg" alt="" /></a>
										<p>I dont have anything for here yet but the length should be something like what i have here rightnow just a description okay.</p>-->
									</div>
								</li>
							</ul>
						</div>
					</section>

			</section>

				<!-- Copyright -->
					<section class="wrapper style2 copyright">
						<div class="inner">
							&copy; {{year}} Charles Nana Asiedu. All rights reserved.
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.selectorr.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>